body {
    margin-bottom: 90px;
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

html {
  position: relative;
  min-height: 100%;
}

.business-header {
	margin-top: -20px;
    height: 400px;
    background: url('../images/wild.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  /*background-color: #f5f5f5;*/
}

.container .text-muted {
  margin: 20px 0;
}

.small-container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
  margin: 0 auto;
}

.click {
    cursor: pointer;
}