<div class="modal-header">
    <h3 class="modal-title">Please sign up</h3>
</div>
<div class="modal-body">
    <form class="form-signin">
    <h2 class="form-signin-heading"></h2>
    <label for="inputEmail" class="sr-only">Pseudo</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Pseudo" required autofocus>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>